body {
  background-color: white;
}

#board {
  width: 800px;
  display: inline-block;
}

#stats {
  display: inline-block;
  position: absolute;
  left: 850px;
}


.highlight-white {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;
}
.highlight-black {
  -webkit-box-shadow: inset 0 0 3px 3px blue;
  -moz-box-shadow: inset 0 0 3px 3px blue;
  box-shadow: inset 0 0 3px 3px blue;
}

#form {
  position: fixed;
  top: 20;
  left: 820px;
}

#pgn {
  width: 500px;
  height: 100px;
}